<template>
    <b-container>
        <b-row>
            <b-col>
                <!--<b-form-input placeholder="Enter your name"/>-->
                <b-input-group size="sm" class="mb-3">
                    <b-form-input v-model="text"/>
                    <b-input-group-append>
                        <b-button size="sm"
                                  text="Button"
                                  variant="success"
                                  @click="addTask">
                            Button
                        </b-button>
                    </b-input-group-append>
                </b-input-group>

            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <!--<b-select v-model="page" @change="changePage">
                    <option value="15">1</option>
                    <option value="35">2</option>
                    <option value="75">3</option>
                </b-select> -->
                <b-button :disabled="!havePrev" @click="prevPage">Prev</b-button>
                <b-button :disabled="!haveNext" @click="nextPage">Next</b-button>
                {{page}}
            </b-col>
            <b-col>
                <b-select v-model="limit" @change="changeLimit">
                    <option :value="15">15</option>
                    <option :value="35">35</option>
                    <option :value="75">75</option>
                </b-select>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <list :tasks-props="tasks">
                    <template slot-scope="{ task }">
                        <simple-list-item @change="updateList" :task="task" v-if="!task.completed" />
                        <delete-list-item @remove="removeTask" :task="task" v-else />
                    </template>
                </list>
            </b-col>
        </b-row>


    </b-container>
</template>

<script>
    import List from '@/components/List.vue'
    import SimpleListItem from "@/components/SimpleListItem";
    import DeleteListItem from "@/components/DeleteListItem";

    export default {
        title: 'app',
        data: () => ({
            text: '',
            tasks: [],
            limit: 15,
            page: 1
        }),
        components: {
            List,
            // eslint-disable-next-line vue/no-unused-components
            SimpleListItem,
            // eslint-disable-next-line vue/no-unused-components
            DeleteListItem
        },

        beforeMount() {
            this.getTodos(this.limit, this.page)
        },
        computed:{
            haveNext() {
                return this.tasks.length === this.limit
            },
            havePrev() {
                return this.page > 1
            },
        },



        methods: {
            addTask() {
                const task = {
                    id: +(new Date()),
                    title: this.text,
                    completed: false
                }
                this.tasks.push(task)
            },
            removeTask(task) {
                const Index = this.tasks.indexOf(task)
                this.tasks.splice(Index, 1)
            },
            updateList(task) {
                this.tasks.find(item => item.id === task.id)
                    .completed = task.completed
            },
            changeLimit(value){
                this.getTodos(value, this.page)
            },
            changePage(value){
                this.getTodos(this.limit, value)
            },
            nextPage() {
                this.getTodos(this.limit, this.page)
                this.page++
            },
            prevPage() {
                this.page--
                this.getTodos(this.limit, this.page)
            },

            getTodos(limit, page) {
                this.axios.get('https://jsonplaceholder.typicode.com/todos', {
                    params: {
                        _limit: limit,
                        _page: page
                    }
                })
                    .then(responce => {
                        this.tasks = responce.data
                    })
            },
        }
    }
</script>

<style>

</style>
