<template>
    <div>

    </div>
</template>

<script>
    export default {
        data: () => ({
            user: {}
        }),

        mounted () {
            this.getUser()
        },
        methods:{
            getUser(){
                this.axios.get( `https://jsonplaceholder.typicode.com/users/${this.post.userId}`)
                    .then(({data}) => this.user = data)
            },
        }
    }

</script>