<template>
    <div class="delete">
        <p>{{ task.title }}</p>
        <button v-if="task.completed" @click="remove">Delete</button>
        <hr>
    </div>
</template>

<script>
    export default {
        props: {
            task: {}
        },

        methods: {
            remove() {
                this.$emit('remove', this.task);
            }
        }
    }

</script>
<style scoped lang="scss">
    .delete {
        background: blue;

        &:hover {
            background: green;
        }
    }
</style>
