<template>
    <div>
        <div v-for="task in sortedList"
             :key="task.id"
        >
            <slot :task="task">{{ task.title }}</slot>
        </div>
        <!--<list-item
                   :task="task"
                   :key="task.id"
                   @change="changeItem"
                   @remove="removeItem"/>-->
    </div>
</template>
<script>
    /*  import ListItem from "./ListItem";*/


    export default {
        name: 'List',
        props: {
            tasksProps: {}
        },
        computed: {
            sortedList() {
                return [...this.tasksProps].sort(a => a.completed ? 1 : -1)
            }
        },
        /*        components: {
                    ListItem
                },*/
    }
</script>

<style scoped>
</style>
