<template>
    <div class="simple">
        <p>{{ task.title }}</p>
        <input type="checkbox" :checked="task.completed" @change="change">
        <hr>
    </div>
</template>

<script>
    export default {
        props: {
            task: {}
        },

        methods: {
            change(e) {
                this.$emit('change', {
                    id: this.task.id,
                    completed: e.target.checked
                });
            }
        }
    }


</script>
<style>
    .simple {
        background: lightskyblue;
    }
</style>
